    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Senfoni Satış</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, excepturi molestiae, voluptatum veritatis facere ut aut unde itaque, facilis placeat iusto beatae nihil nisi corporis sapiente quisquam quasi fugiat fugit? </p>
            </div>
        </div>
    </header>
