<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v.5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @RenderSection("Css", false)
    <link rel="stylesheet" href="~/css/style.css">
    <title>Senfoni Satış</title>

</head>
<body>
    @await Html.PartialAsync("_navbar")
    @* @await Html.PartialAsync("_header") *@

    <main class="my-3">
        <div class="container">
            @if (TempData["message"] != null)
            {
                @await Html.PartialAsync("_ResultMessage",TempData.Get<AlertMessage>("message"))
            }
            @RenderBody()
        </div>
    </main>

    <footer class="py-5 bg-dark text-white text-center">
        Senfoni Yazılım | 2022
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />*@

    @RenderSection("Scripts", false)
</body>
</html>