
<h1 class="h3">Şifremi Unuttum</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="ForgotPassword" method="POST">
            <div class="form-group">
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                <label name="Email">Email</label>
                <input type="Email" name="Email" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Giriş</button>
        </form>
    </div>
</div>
